{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<div class="row row-flex payment-jumbotron jumbotron">
    {% for item in cart_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel payment-2 panel-default">
            <div class="panel-body">
                <div class="caption">
                    <h3 class="text-center">{{ item.donations.name }}</h3>
                    <h4 class="payment-panel">Total</h4>
                    <p class="payment-panel"><i class="fa fa-gbp"></i> {{ total }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row flex-row payment jumbotron">
    <form class="text-center" role="form" method="post" id="payment-form" action="{% url 'payment' %}">
        <legend class="text-center">Shipping Details</legend>

        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>
            {{ donate_form | as_bootstrap }}
            <legend class="text-center">Card Details</legend>
            {{ payment_form | as_bootstrap }}

        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>
{% endblock %}