.box {
  background-color: #ccc9c9;
  margin-left: 80px;
  height: fit-content;
  @include mobile {
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include mobile_horizontal {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include computer {
    margin-left: 60px;
  }
  @include tab {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
  }
}

.donations {
  width: 75%;
  margin-left: 14.5%;
  background-color: #ccc9c9;
  margin-bottom: 5%;
  border: solid 1px;
}
.donation1 {
  width: 75%;
  margin-left: 14.5%;
  background-color: #ccc9c9;
  margin-bottom: 5%;
  border: solid 1px;
}

.img {
  height: 150px;
  padding-left: 20px;
  @include mobile {
    height: 100px;
    padding-left: 25px;
  }
  @include mobile_horizontal {
    padding-left: 80px;
  }
  @include tab {
    height: 150px;
    padding-left: 25%;
  }
  @include computer {
    height: 100px;
  }
}
.img-1 {
  height: 200px;
  padding-top: 10px;
  @include mobile {
    height: 150px;
    padding-left: 5px;
  }
  @include mobile_horizontal {
    width: 240px;
  }
  @include tab {
    margin-left: 14%;
  }
}

.img-2 {
  height: 150px;
  padding-left: 10px;
  @include mobile {
    height: 100px;
    padding-left: 10%;
  }
  @include mobile_horizontal {
    padding-left: 18%;
  }
  @include computer {
    height: 100px;
  }
}
.img-3 {
  height: 150px;
  padding-left: 35px;
  @include mobile {
    padding-left: 0px;
  }
  @include mobile_horizontal {
    height: 200px;
    padding-left: 60px;
  }
  @include computer {
    height: 100px;
  }
}
.i-text1 {
  padding-top: 5%;
}

.height1 {
  height: fit-content;
  width: 75%;
  margin-left: 14.5%;
  padding-top: 15px;
  background-color: #ccc9c9;
  @include mobile {
    height: fit-content;
    margin-left: 15%;
  }
  @include mobile_horizontal {
    height: fit-content;
    width: 60%;
    margin-left: 20%;
  }
  @include tab {
    margin-left: 14%;
  }
  @include computer {
    margin-left: 14.5%;
  }
}

.index-3 {
  height: fit-content;
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 10%;
  padding-top: 15px;
  background-color: #ccc9c9;
  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-left: 15%;
  }
  @include mobile_horizontal {
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
}

.index-3-text {
  text-align: center;
  @include mobile {
    text-align: justify;
    width: 80%;
    padding-left: 20%;
  }
  @include mobile_horizontal {
    text-align: justify;
    width: 80%;
    padding-left: 20%;
  }
}

.title {
  padding-top: 3%;
}

.img-left {
  @include mobile {
    margin-left: 18% !important;
  }
}

.storyImg {
  width: 150px;
  padding-left: 20px;
  margin-left: 24%;
  @include mobile {
    width: 150px;
    margin-left: 20%;
  }
  @include mobile_horizontal {
    width: 150px;
   margin-left: 27%;
  }
  @include tab {
    width: 150px;
    margin-left: 36.5%;
  }
  @include computer {
    width: 150px;
    margin-bottom: 2%;
  }
}

.storyText {
  text-align: center;
  padding-top: 20px;
  @include mobile {
    text-align: justify;
  }
  @include mobile_horizontal {
    text-align: justify;
    padding-top: 20px;
  }
}
