.box{
    background-color: burlywood;
    margin-left: 80px;
    height: 450px;
}

.img{
    height: 150px;
    padding-left: 20px;
    /* border-radius: 100%; */
}

.img-2{
    height: 150px;
    padding-left: 10px;
    /* border-radius: 50%; */
}
.img-3{
    height: 150px;
    padding-left: 35px;
    /* border-radius: 50%; */
}