.box{
    background-color: #ccc9c9;
    margin-left: 80px;
    height: 450px;
    @include computer{
        margin-left: 60px;
    }
}

.img{
    height: 150px;
    padding-left: 20px;
    /* border-radius: 100%; */
    @include computer{
        height: 100px;
    }
}
.img-1{
    height: 200px;
    padding-top: 10px;
}

.img-2{
    height: 150px;
    padding-left: 10px;
    /* border-radius: 50%; */
    @include computer{
        height: 100px;
    }
}
.img-3{
    height: 150px;
    padding-left: 35px;
    /* border-radius: 50%; */
    @include computer{
        height: 100px;
    }
}
.i-text1{
    padding-top: 5%;
}

.height1{
    height: 350px;
    width: 75%;
    margin-left: 12.5%;
    padding-top: 15px;
    background-color: #ccc9c9;
    @include computer{
        width: 50%;
        margin-left: 25%;
    }
}

.height2{
    height: 600px;
    background-color: transparent;
}