.cart{
    width: 50%;
    margin-left: 25%;
    margin-top: 8.6%;
    margin-bottom: 9.6%;
    border: solid 0.5px;
    background-color: #ccc9c9;
    @include computer {
        width: 40%;
        margin-left: 30%;
      }
}