/* This file contains the css styles for my project, once the project is complete and if there is time left,
i will look into making the a scss system */

body {
    font-family: Arial;
    padding-top: 100px;
    color: black;
    background-image: url('images1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: -im-crisp-edges;
    -webkit-transform: scale(0.999);
    transform: scale(0.999);
    
}

h2{
    color: white;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 

.jumbotron{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.jumbotron p{
    font-size: 15px;
    padding-top: 20px;
    text-align: justify;
}

.container{
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}