/* This file contains the css styles for my project, once the project is complete and if there is time left,
i will look into making the a scss system */

body {
    font-family: Arial;
    padding-top: 100px;
    color: black;
}

h2{
    color: white;
}

.jumbotron{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.jumbotron p{
    font-size: 15px;
    padding-top: 20px;
    text-align: justify;
}

.container{
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}