{% extends 'admin/base.html' %}
{% comment %} The style tags are used in this file as i am currently learning how to style the admin pannel for django and don't have time to get a css file to correctly
load all the styling into the file. So to work around that for now i have made seperate style tags to contain the content that will eventually go into the css file.
{% endcomment %}
{% block title %}{{ title }} | Help The Homeless{% endblock %}
{% block extrastyle %}
{% comment %} This style tag contains all the styling for the desktop view. {% endcomment %}
<style>
    body{
        font-size: 28px;
    }
    #header {
        background-color: #2f4f4f;
    }
    label[for=id_email]{
        font-size: 36px;
    }
    label[for=id_new_password1]{
        font-size: 36px;
    }
    label[for=id_new_password2]{
        font-size: 36px;
    }
    h1{
        font-size: 40px;
    }
    #content{
        text-align: center;
    }
    #changelist-filter{
        top: 77px !important;
        right: 2px !important;
    }
    .module h2, .module caption, .inline-group h2{
        background: #5b9999;
    }
    #branding{
        float: none !important;
    }
    div.breadcrumbs {
        background-color: #5b9999;
        font-size: 24px;
    }
    form {
        border: solid 2px black;
    }
    .login .submit-row{
        padding: 0em 0 0 3.5em !important;
    }
    .aligned label{
        width: 100% !important;
        text-align: center;
    }
    input[type=email] {
        width: 50%;
        text-align: center;
        font-size: 36px;
        border: 2px solid #333;
    }
    input[type=text] {
        width: 50%;
        text-align: center;
        font-size: 36px;
        border: 2px solid #333;
    }
    input[type=password] {
        width: 50%;
        text-align: center;
        font-size: 36px;
        border: 2px solid #333;
    }
    input[type=submit] {
        font-size: 33px;
        background-color: #2f4f4f;
    }
    .login .submit-row{
        margin-left: 25% !important;
    }
    .login .form-row #id_username, .login .form-row #id_password {
        width: 90% !important;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site_name"><a href="{% url 'admin:index' %}"> Help The Homeless </a></h1>
{% endblock %}