{% extends 'admin/base.html' %}

{% block title %}{{ title }} | Help The Homeless{% endblock %}

{% block extrastyle %}
<style>
    #header {
        background-color: #2f4f4f;
    }
    #content{
        text-align: center;
    }
    div.breadcrumbs {
        background-color: #5b9999;
    }
    form {
        width: 30%;
        margin-left: 35%;
        border: solid 1px black;
    }
    .aligned label{
        width: 100% !important;
        text-align: center;
    }
    input[type=submit] {
        width: 40%;
        background-color: #2f4f4f;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site_name"><a href="{% url 'admin:index' %}"> Help The Homeless </a></h1>
{% endblock %}