{% extends 'admin/base.html' %}
{% comment %} The style tags are used in this file as i am currently learning how to style the admin pannel for django and don't have time to get a css file to correctly
load all the styling into the file. So to work around that for now i have made seperate style tags to contain the content that will eventually go into the css file.
{% endcomment %}
{% block title %}{{ title }} | Help The Homeless{% endblock %}
{% block extrastyle %}
{% comment %} This style tag contains all the styling for the desktop view. {% endcomment %}
<style>
    #header {
        background-color: #2f4f4f;
    }
    #content{
        text-align: center;
    }
    div.breadcrumbs {
        background-color: #5b9999;
    }
    form {
        width: 30%;
        margin-left: 35%;
        border: solid 1px black;
    }
    .aligned label{
        width: 100% !important;
        text-align: center;
    }
    input[type=submit] {
        width: 50%;
        background-color: #2f4f4f;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site_name"><a href="{% url 'admin:index' %}"> Help The Homeless </a></h1>
{% endblock %}