{% extends 'base.html' %}
{% load staticfiles %}
{% comment %} this page is used to talk about what the charity is for and show some information on the countries current homeless people amounts {% endcomment %}
{% block content %}
<div class="row about jumbotron">
    <script src="{% static 'js/charts.js' %}"></script>
    <h3 class="text-center">About Us</h3>
    <hr class="hr1">
    <img class="about-img col-lg-4 col-md-6 col-sm-6" src="{% static 'image/office.jpg' %}"></img>
    <p class="text-justify">Help the Homeless is a none profit organisation dedicated to improving the lives of those struggling to rebuild after everyone else has given
    up on them. We aim to help lower the amount of people living on the streets, provide training so that they can gain employment and support there daily needs until such time
    that they are once again able to support themselves. Each year more and more young and old people are forced to live in terrible
    conditions because they have nowhere else to go. for many of the young who are living rough the potential for a better life goes ignored, either because mo one wants to take
    them in or provide them with the means to better take care of themselves. That is why we were founded, like many people out there we wish to help, to this end we decided it
    was time someone stood up and said no more!</p>
    <div class="col-lg-12">
    {% comment %} this div hold the pie chart used to show the total people homeless in 2019 {% endcomment %}
        <div id="container" style="width: 100%; height: 100%"></div>
        <p class="text-justify">Due to the recession many more people have become homeless between 1995 and 2015, and it is only going to get worse</p>
    </div>
    <script src="{% static 'js/barchart.js' %}"></script>
    {% comment %} this div holds the bar chart showing how many people were homeless from 1995 to 2015 {% endcomment %}
    <div class="col-lg-6" id="bar" style="width: 100%; height: 100%"></div>
</div>
{% endblock %}