{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% comment %} This file deals with the ability to change the password if logged in {% endcomment %}
{% block content %}
<div class="row row-flex updatePass jumbotron">
  <h3 class="text-center">Change Password</h3>
  <hr class="hr1">
  <form class="text-center" method="POST">
  {% comment %} The csrf_token prevents injection hacking {% endcomment %}
    {% csrf_token %}
    {{ form | as_bootstrap }}
    <button class="btn updateButton btn-default btn-success" type="submit">Save changes</button>
  </form>
</div>
{% endblock %}