{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

{% block page_heading %}Home{% endblock %}

{% block content %}
<div class="login">
    <form method="POST">
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        <button type="submit" class="btn button btn-default btn-success">Login</button>
        <h4 class="text-center">Or</h4>
        <a href="/" class="btn btn-default btn-success">Sign up</a>
    </form>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
</div>
{% endblock %}