{% extends 'base.html' %}
{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block page_title %}Profile Page{% endblock %}

{% block page_heading %}Home{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="row row-flex profile jumbotron ">
    <div class="col-md-12">
        <h3 class="text-center">{{ user.username }}</h3>
        <img class="pro-pic" src="{{ MEDIA_URL }}{{ request.user.profile.image }}"></img>
    </div>
    <hr>
    <div class="col-md-6 col-xs-6">
        <h4 class="profile-title">Settings</h4>
        <div class="a">
            <a href="#">Change Password</a>
        </div>
        <div class="a">
            <a href="#">Change username</a>
        </div>
        <div class="a">
            <a href="#">Change e-mail</a>
        </div>
        <div class="a">
            <a href="{% url 'update_profile' %}">update Profile</a>
        </div>
        <div>
            {% comment %} <a href="{% url '/' %}">Delete Account</a> {% endcomment %}
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <h4 class="profile-title ">User details</h4>
        <ul>
            <li class="table-list"><strong>username: </strong>{{ user.username }}</li>
            <li class="table-list"><strong>Name: </strong>{{ request.user.profile.name }}</li>
            <li class="table-list"><strong>Gender: </strong>{{ request.user.profile.gender }}</li>
            <li class="table-list"><strong>birthday: </strong>{{ request.user.profile.birthday }}</li>
            <li class="table-list"><strong>nationality: </strong>{{ request.user.profile.nationality }}</li>
            <li class="table-list"><strong>E-mail: </strong>{{ request.user.email }}</li>
        </ul>
    </div>
</div>
<div class=" row row-flex profile-2 jumbotron col-md-12">
        <table class="table table-striped">
            <h3>Donation history</h3>
            <hr>            
        <tr>
            <th>Date</th>
            <th>Full Name</th> 
            <th>amount</th>
        </tr>
        {% for don in donations %}
        <tr>
            <td>{{ don.date }}</td>
            <td>{{ don.full_name }}</td>
            <td>{{ don.amount }}</td>
        </tr>
        {% endfor %}
        </table>
</div>
{% endif %}
{% endblock %}