{% extends 'base.html' %}
{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block page_title %}Profile Page{% endblock %}

{% block page_heading %}Home{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="row row-flex user jumbotron ">
    <div class="col-md-12">
        <h3 class="text-center">{{ user.username }}</h3>
        <img class="pro-pic" src="{{ MEDIA_URL }}{{ request.user.profile.image }}"></img>
    </div>
    <hr>
    <div class="col-md-6">
        <h4>Settings</h4>
        <div>
            <a href="#">Change Password</a>
        </div>
        <div>
            <a href="#">Change username</a>
        </div>
        <div>
            <a href="#">Change e-mail</a>
        </div>
        <div>
            <a href="{% url 'update' %}">update Profile</a>
        </div>
    </div>
    <div class="col-md-6">
        <h4>User details</h4>
        <ul>
            <li><strong>username: </strong>{{ user.username }}</li>
            <li><strong>Name: </strong>{{ request.user.profile.name }}</li>
            <li><strong>Gender: </strong>{{ request.user.profile.gender }}</li>
            <li><strong>birthday: </strong>{{ request.user.profile.birthday }}</li>
            <li><strong>nationality: </strong>{{ request.user.profile.nationality }}</li>
            <li><strong>E-mail: </strong>{{ request.user.email }}</li>
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}