{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Profile Page{% endblock %}
{% block page_heading %}Home{% endblock %}
{% comment %} This file holds all the coding for the information in the profile page {% endcomment %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="row row-flex profile jumbotron ">
    {% comment %} This div displays the users username and profile picture {% endcomment %}
    <div class="col-md-12">
        <h3 class="text-center">{{ user.username }}</h3>
        {% comment %} the if statement here checks if the user has a image saved in there profile and if not it displays the default image {% endcomment %}
        {% if user.profile.image %}
            <img class="pro-pic" src="{{ MEDIA_URL }}{{ request.user.profile.image }}"></img>
        {% else %}
            <img class="pro-pic" src="{% static 'image/blankProfileImage.png' %}"></img>
        {% endif %}
    </div>
    <hr>
    {% comment %} This section handles the users details as well as links to change the password, the users details and to delete there account if they wish to {% endcomment %}
    <div class="col-md-6 col-xs-12">
        <h4 class="text-center">User details</h4>
        <ul>
            <li class="text-center"><strong>username: </strong>{{ user.username }}</li>
            <li class="text-center"><strong>Name: </strong>{{ request.user.profile.name }}</li>
            <li class="text-center"><strong>Gender: </strong>{{ request.user.profile.gender }}</li>
            <li class="text-center"><strong>birthday: </strong>{{ request.user.profile.birthday }}</li>
            <li class="text-center"><strong>nationality: </strong>{{ request.user.profile.nationality }}</li>
            <li class="text-center"><strong>E-mail: </strong>{{ request.user.email }}</li>
        </ul>
    </div>
    <div class="settings col-md-6 col-sm-6 col-xs-12">
        <h4 class="text-center">Settings</h4>    
        <div class="a text-center">
            <a href="{% url 'update_profile' %}">update Profile</a>
        </div>
        <div class="a text-center">
            <a href="{% url 'change_password' %}">Change password</a>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group text-center">
                    <legend class="border-bottom mb-4">Delete User Account</legend>
                        <p>Are you sure you want to delete your account?  This will permanently delete your
                        profile and any content you have generated.</p>
                        {{ form }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-danger" type="submit">Delete Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% comment %} Thsi section displays all the donations the user has made {% endcomment %}
<div class=" row row-flex profile-2 jumbotron col-md-12">
        <table class="table table-striped col-lg-12">
            <h3 class="text-center">Donation history</h3>
            <hr>            
        <tr>
            <th class="col-lg-4 text-center">Date</th>
            <th class="col-lg-4 text-center">Donation product</th> 
            <th class="col-lg-4 text-center">Total Amount Donated</th>
        </tr>
        {% for detail in request.user.profile.donation_details.all %}
            {% for lineitem in detail.lineitems.all %}
                <tr>
                    <td class="col-lg-4 text-center">{{ lineitem.details.date }}</td>
                    <td class="col-lg-4 text-center">{{ lineitem.donation.name }}</td>
                    <td class="col-lg-4 text-center"><i class="fa fa-gbp"> {{ lineitem.quantity }}</i></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </table>
    </div>
{% endif %}
{% endblock %}