{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% comment %} This page allows the user to update there profile's {% endcomment %}
{% block content %}
<div class="row row-flex update jumbotron">
  <h3 class="text-center">Update Profile</h3>
  <hr class="hr1">
  <form class="text-center" method="POST" enctype="multipart/form-data">
    {% comment %} The csrf_token prevents injection hacking {% endcomment %}
    {% csrf_token %}
    {% comment %} This form updates the user table in the database {% endcomment %}
    {{ u_form | as_bootstrap }}
    {% comment %} This form updates the profile table in the database {% endcomment %}
    {{ p_form | as_bootstrap }}
    <button class="btn updateButton btn-default btn-success" type="submit">Save changes</button>
  </form>
</div>
{% endblock %}