.payment{
    width: 50%;
    margin-left: 25%;
    border: solid 0.5px;
    background-color: #ccc9c9;
    @include computer {
        width: 40%;
        margin-left: 30%;
      }
}

.payment-jumbotron{
    padding-top: 0px !important;
    padding-bottom: 0px;
    width: 50%;
    margin-left: 25%;
    background-color: transparent;
    @include computer {
        width: 60%;
        margin-left: 35%;
      }
}

.payment-panel{
    text-align: center !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
}
