{% extends 'base.html' %}
{% block content %}
<div class="row row-flex jumbotron">
    <h3>Donate</h3>
    {% for items in cart_items %}
        <p>{{ items.donations.name }}</p>
        <p>{{ items.amount }}</p>
        <form method="post" action="{% url 'adjust_donation' items.id %}">
        {% csrf_token %}
            <div class="input-group">
            <input name="amount" type="number" min="1" max="10000" class="form-control" placeholder="amount">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Add</button>
            </span>
        </div>
        </form>
        <a href="{% url 'payment' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Donate</a>
    {% endfor %}
</div>
{% endblock %}