{% extends 'base.html' %}
{% block content %}
<div class="row row-flex cart jumbotron">
    <p class="text-center">For every donation made a certificate is sent to show your contribution to our cause. Any donation over £100,000.00 you will receive a top downer plaque</p>
    <hr class="hr1">
    {% if donation_count > 0 %}
    <h3 class="text-center">Donate</h3>
        {% for item in cart_items %}
            <p>{{ item.donation.quantity }}</p>
            <h3 class="text-center total"><i class="fa fa-gbp"></i> {{ item.quantity }}</h3>
            <form class="text-center" method="post" action="{% url 'adjust_donation' item.id %}">
            {% csrf_token %}
                <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" value="{{ item.quantity }}">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
            <a href="{% url 'payment' %}" class="btn donate-btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Donate</a>
            </form>
        {% endfor %}
    {% else %}
        <p class="text-center">Sorry there is nothing in the cart.</p>
    {% endif %}
</div>
{% endblock %}