{% extends 'base.html' %}
{% block content %}
<div class="row row-flex cart jumbotron">
    <p class="text-center">For every donation made a certificate is sent to show your contribution to our cause. Any donation over £100,000.00 you will recive a top doner placque</p>
    <hr class="hr1">
    {% if project_count > 0 %}
    <h3 class="text-center">Donate</h3>
        {% for items in cart_items %}
            {% comment %} <p>{{ items.donations.name }}</p> {% endcomment %}
            <p class="text-center"><i class="fa fa-gbp"></i>{{ items.amount }}</p>
            <form class="text-center" method="post" action="{% url 'adjust_donation' items.id %}">
            {% csrf_token %}
                <div class="input-group">
                <input name="amount" type="number" min="1" max="999999" class="form-control" placeholder="amount">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
            <a href="{% url 'payment' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Donate</a>
            </form>
        {% endfor %}
    {% elif project_count < 1 %}
        <p class="text-center">Sorry there is nothing in the cart</p>
    {% endif %}
</div>
{% endblock %}