.donation{
    width:75%;
    margin-left: 14.5%;
    background-color: #ccc9c9;
    margin-bottom: 5%;
    border: solid 1px;
    @include mobile{
        margin-left: 30px;
    }
}

.hr1{
    width: 20px;
}

.projects{
    // width: 75%;
    // margin-left: 12.5%;
    padding-bottom: 20px;
}

.homeImg {
    height: 150px;
    padding-left: 20px;
    /* border-radius: 100%; */
    @include mobile {
        height: 100px;
      padding-left: 25px;
    }
    @include mobile_horizontal {
      padding-left: 130px;
    }
    @include tab {
      height: 150px;
      padding-left: 25%;
    }
    @include computer {
      height: 100px;
    }
}

.genSupport{
    height: 250px;
    padding-left: 10px;
    padding-bottom: 10px;
    @include mobile {
        height: 100px;
      padding-left: 25px;
    }
    @include mobile_horizontal{
        height: 150px;
        padding-left: 130px;
    }
}

.supportText{
    padding-top:  20px;
}

.trainingImg{
    height: 250px;
    padding-bottom: 10px;
    padding-right: 10px;
    @include mobile{
        height: 150px;
    }
    @include mobile_horizontal{
        height: 200px;
        padding-left: 120px;
    }
}

.trainingText{
    padding-top:  20px;
}