{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help the Homless</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'scss/main/main.css' %}">
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-pie.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-base.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}

</head>
<body>
    <nav class="navbar-masthead navbar-1 navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Help the Homeless</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a class="nb" href="{% url 'profile' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    <li>
                        <a href="{% url 'view_donate' %}">
                            Donate
                            {% if project_count > 0 %}
                            <label class="badge badge-warning"><i class="fa fa-gbp">{{ donation_count  }}</i></label>
                            {% endif %}
                        </a>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                    <li><a href="{% url 'donation' %}">Contrabutions</a></li>
                    <li><a href="{% url 'about' %}">About us</a></li>
                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}    
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="footer container">
            <p class="text-center">Made by Daniel Hayes</p>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <p class="text-center">Follow me on:</p>
                <ul>
                    <li><a href="https://github.com/Danhayes3008" target="_blank"><i class="fa fa-github"></i> Github</a></li>
                    <li><a href="https://www.linkedin.com/in/daniel-hayes-90050b189/" target="_blank"><i class="fa fa-linkedin"></i> linkedin</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-6">
                <p class="text-center"> To find out more:</p>
                <ul>
                    <li><a href="{% url 'about' %}">About us</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <p>© 2020 Help the Homeless is a site designed to be used as course work. In no way posible will it be used for commercial use</p>
        </p>
        </div>
    </footer>
</body>

</html>