.pro-pic{
    margin-left: 40%;
    border: 1px solid grey;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile{
    height: fit-content;
    width: 75%;
    margin-left: 12.5%;
    padding-top: 15px;
    background-color: #ccc9c9;
}
.profile-2{
    height: fit-content;
    width: 75%;
    margin-left: 12.5%;
    padding-top: 15px;
    background-color: #ccc9c9;
}