{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="row row-flex">
    <div class="jumbotron col-md-12 height1">
        <h2 class="text-center">Welcome To Help The Homeless</h2>
        <div class="col-md-6">
            <img class="img-1" src="{% static 'images/Homeless-1.jpg' %}"></img>
        </div>
        <div class="col-md-6 i-text1">
            <p class="text-justify">Thousands of people at risk of dying whilst living on the streets every year. The time to act is now!</p>
        </div>
    </div>
    <div class="donations">
        {% for donation in donations %}
            <div>
            <h3 class="text-center">Donate now!</h3>
            <p class="donate-text">Every day someone die's from living on the street's due to bad conditions, if we don't act now many more would be at risk.</p>
                <form class="donation" method="post" action="{% url 'amount_to_donate' donation.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>
    <div class="donation box row row-flex">
        <h3 class="text-center">Stories:</h3>
        <hr class="hr1">
    <div class="col-md-4 height2">
        <h3 class="text-center">Amanda Simmings</h3>
        <hr class="hr1">
        <img class="storyImg col-md-12" src="{% static 'image/woman-101542_640.jpg' %}"></img>
        <p class="storyText col-md-12">When I ran away from home I was only twenty years old, and scared for my life. I ran because my father was beating me daily, being careful not
        leave any marks that people could see. My Mum never even tried to stop him, she would say it was my fault or I deserved it. So i ran and never looked back as i knew if i stayed
        i probably be dead by now. </p>
        <p class="storyText col-md-12">When Help the Homeless found me I was close to giving up hope that my life would improve and was considering ending it. But now after being given a place to stay and training so that i could get a job, I have become
        a social services officer to help support other women who suffer from domestic violence and being abused. </p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">James Conway</h3>
        <hr class="hr1">
        <img class="storyImg col-md-12" src="{% static 'image/face-156456_640.png' %}"></img>
        <p class="storyText col-md-12">Before I became homeless I was a successful businessmen with my own family run DIY shop in our local town. But with the big corporations taking up all
        our customers we eventually went bankrupt. with massive debt and no form of income everything was taken away from me, I had lost my wife and my home. With no one to turn to for help
        I ended up living on the streets begging for money so that i could at least feed myself now and then.</p>
        <p class="storyText col-md-12">Thanks to the support of Help the Homeless I am in the progress of putting my life back together, I have a roof over my head and am doing courses 
        in IT and accounting whilst working a part time job. If it was not for them i would still be sleeping rough trying to survive. </p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Laura Hockley</h3>
        <hr class="hr1">
        <img class="storyImg col-md-12" src="{% static 'image/woman-312313_640.png' %}"></img>
        <p class="storyText col-md-12">I was once a school teacher before becoming homeless. One day after class one of my student came you to me and tried to blackmail me with false
        information. When I wouldn't do as he asked the boy started spreading rumors about myself and another student. Everything was down hill from there. my friends and family would not have
        anything to do with me I had no money due to the legal cost from court and eventually lost my home and job.</p>
        <p class="storyText col-md-12">Help the homeless were there for me when no one else was. They provided me with a room to stay in and meals daily, and even investigated what happened 
        to me. There investigation revealed the boy who started the rumors had blackmailed several other teachers in the past and reported this to the police. This lead to his arrest and my
        re-en statement as a teacher and a generous compensation for what happened.</p>
    </div>
</div>
</div> 
{% endblock %}