.contact{
    background-color: transparent;
    padding-bottom: 7.5%;
}

.map{
    border: solid 0.5px !important;
    @include mobile{
        width: 280px;
        margin-top: 20px;
        margin-left: 30px;
    }
    @include mobile_horizontal{
        width: 600px;
        margin-top: 20px;
        margin-left: 10px;
    }
}

.map-padding{
    padding-left: 4%;
}

.address{
    background-color: lightgrey;
    text-align: center;
    height: 305px;
    margin-left: 13%;
    border: solid 0.5px;
    @include mobile_horizontal{
        margin-left: 5%;
    }
}