.about {
  width: 50%;
  margin-left: 25%;
  margin-top: 8.6%;
  margin-bottom: 9.6%;
  border: solid 0.5px;
  background-color: #ccc9c9;
  @include mobile {
    width: 80%;
    margin-left: 10%;
    }
  @include computer {
    width: 50%;
    margin-left: 25%;
    }
}
 
.about-img {
  height: 150px;
  padding-left: 20px;
  /* border-radius: 100%; */
  @include mobile {
    padding-left: 20px;
  }
  @include mobile_horizontal {
    padding-left: 40px;
  }
  @include tab {
    height: 150px;
    padding-left: 25%;
  }
  @include computer {
    height: 100px;
  }
}